
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>inbuiltfilter</title>
</head>
<body>
    <div> 
        <h1>hello from the outputcache</h1>
        <h1>Date and time is=@DateTime.Now </h1>
    </div>
</body>
</html>
